---
import BaseLayout from "../layouts/BaseLayout.astro";

import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const dcgen = await directus.request(readSingleton("DCGNE"));
const url = "https://data.copeco.gob.hn/assets/";
---

<style>
     .usar {
    padding-top: 60px;
  }


  .col {
    margin-right: 20px;
  }
</style>

<BaseLayout>
    <section id="about" class="about section">
  
      <div class="container">
  
        <div class="row gy-4">
  
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">PARNUH</p>
            <h3>Proceso de Acreditación y Reacreditación Nacional USAR Honduras</h3>
            <p class="fst-italic">
              {dcgen.definicion_parnuh}
            </p>
            <!-- <ul>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
            </ul> -->
            
          </div>
  
          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-12">
                <img src=`${url}${dcgen.imagen_usar}`class="img-fluid" alt="">
              </div>
              <!-- <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src=`${url}${dcgen.imagen_usar}` class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src=`${url}${dcgen.imagen_usar}` class="img-fluid" alt="">
                  </div>
                </div>
              </div> -->
            </div>
  
          </div>
  
        </div>
  
      </div>
    </section><!-- /About Section -->
      <!-- Features Details Section -->
      <section id="features-details" class="features-details section">

        <div class="container">
  
          <div class="row gy-4 justify-content-between features-item">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <img src=`${url}${dcgen.parches_usar}` class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <h3>PARCHES USAR</h3>
                <p>
                 
                </p>
                
              </div>
            </div>
  
          </div><!-- Features Item -->
  
          <!-- Features Item -->
  
        </div>
  
      </section><!-- /Features Details Section -->
  </BaseLayout>