---
import BaseLayout from "../layouts/BaseLayout.astro";
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const dcgen = await directus.request(readSingleton("DCGNE"));
const url = "https://data.copeco.gob.hn/assets/";
---
<style>
  .insaragag{
    width: 300px;
    height: 100px;
  }

.container{
  padding-bottom: 30px;
}
</style>

<BaseLayout>
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p class="who-we-are">USAR</p>
          <h3>Que es el programa USAR HONDURAS</h3>
          <p class="fst-italic">
            {dcgen.usar_definicion}
          </p>
          <!-- <ul>
            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
          </ul> -->
          
        </div>

        <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div class="col-lg-12">
              <img src=`${url}${dcgen.imagen_usar}`class="img-fluid" alt="">
            </div>
            <!-- <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-lg-12">
                  <img src=`${url}${dcgen.imagen_usar}` class="img-fluid" alt="">
                </div>
                <div class="col-lg-12">
                  <img src=`${url}${dcgen.imagen_usar}` class="img-fluid" alt="">
                </div>
              </div>
            </div> -->
          </div>

        </div>

      </div>

    </div>
    
      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container ">
  
          <div class="section-title d-flex justify-content-center" data-aos="fade-up">
            <h2>Puntos  <strong>Focales</strong></h2>
            <p></p>
          </div>
  
          <div class="row d-flex justify-content-center">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up">
                <div class="member-img">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                  
                </div>
                <div class="member-info">
                  <h4>Punto Focal Político Nacional</h4>
                  <h4>ViceAlmirante &#174;  Jose Jorge Fortin </h4>
                  <span>Secretario de Estado en los Despachos de Gestión de Riesgos y Contingencias Nacionales COPECO</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                  
                </div>
                <div class="member-info">
                  <h4>Punto Focal Operativo Nacional</h4>
                  <h4>Ing. Ivan Montalvo</h4>
                  <span> Director Nacional de Preparación y Respuesta</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                  
                </div>
                <div class="member-info">
                  <h4>Punto Focal USAR Nacional</h4>
                  <h4> 
                  </h4>
                  <span>Departamento de Coordinación para Grupos Nacionales Especializados</span>
                  <span>contacto: dcgne.copeco@gmail.com</span>
                </div>
              </div>
            </div>
  
           
  
          </div>
  
        </div>
      </section><!-- End Our Team Section -->


      <section id="team" class="team section-bg">
        <div class="container">
          <div class="row gy-4 ">
            <h1 class="text-center">Lineas de Accion</h1>
            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex member">
                <div class="icon align-items-center"><i class="bi bi-briefcase"></i></div>
                <div class="member-info">
                  <h4 class="title"><a href="/parnuh" class="stretched-link">PARNUH</a></h4>
                  <p class="description">Proceso de Acreditación y Reacreditación Nacional USAR Honduras</p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
      
            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex member">
                <div class="icon d-flex "><i class="bi bi-card-checklist d-flex alig"></i></div>
                <div>
                  <h4 class="title"><a href="/scuh" class="stretched-link">SCUH</a></h4>
                  <p class="description">Sistema de Coordinación USAR Honduras</p>
                </div>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex member">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                <div>
                  <h4 class="title"><a href="/capacidades" class="stretched-link">FORTALECIMIENTO</a></h4>
                  <p class="description">Fortalecimiento de capacidades
                  </p>
                </div>
              </div>
            </div><!-- End Service Item -->
            
            <div class="col-xl-4 col-lg-6 " data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex member">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                <div>
                  <h4 class="title"><a href="/equipousar" class="stretched-link">USAR</a></h4>
                  <p class="description">Grupo Nacional Especializados GNE USAR</p>
                </div>
              </div>
            </div><!-- End Service Item -->
      
        </div>
        </div>
       </section>
  </section><!-- /About Section -->
 
  
    

     
    


    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Aliados</h2>
        </div>
    
        <div class="container text-center">
          <img src=`${url}${dcgen.imagen_aliados}`class="insaragag" alt="">
        </div>
        </div>
      </div>
    </section>

</BaseLayout>
