---
import cepredenac from '../assets/img/cepredenac.png'
import Jica from '../assets/img/Jica.png'
import koica from '../assets/img/koica.jpg'
import ocha from '../assets/img/ocha.png'
import pnund from '../assets/img/pnund.png'
import sica from '../assets/img/sica.jpg'
import accion from '../assets/img/accion.png'
import usaid from '../assets/img/USAID.png'
import uscom from '../assets/img/USSOUTHCOM.png'





---

<section id="clients" class="clients">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Aliados</h2>
      </div>
  
      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={cepredenac.src} class="img-fluid" alt="" >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={Jica.src} class="img-fluid" alt="">
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={koica.src} class="img-fluid" alt="" >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={ocha.src} class="img-fluid" alt="" >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={pnund.src} class="img-fluid" alt=""  >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={sica.src} class="img-fluid" alt="" >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={accion.src} class="img-fluid" alt="" >
          </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={usaid.src} class="img-fluid" alt="" >
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src={uscom.src} class="img-fluid" alt="" >
          </div>
        </div>
      </div>
    </div>
  </section>